Flujo Node-Red/FlujoControlIVehicular.json
[
    {
        "id": "d6c0238f4ecb9fcd",
        "type": "tab",
        "label": "Control Interactivo Vehicular",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa1846f9c6d02de2",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "69140d0c740b78cf",
        "order": 5,
        "width": 14,
        "height": 5,
        "name": "",
        "label": "Respuesta completa",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1380,
        "y": 760,
        "wires": []
    },
    {
        "id": "d305db01ade4004e",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Interfaz",
        "info": "",
        "x": 190,
        "y": 300,
        "wires": []
    },
    {
        "id": "c25c63cf1803d8e1",
        "type": "delay",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 1100,
        "wires": [
            [
                "f18efe514f382e81"
            ]
        ]
    },
    {
        "id": "f18efe514f382e81",
        "type": "ui_switch",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "label": "Acceso",
        "tooltip": "",
        "group": "9037ae08f379058f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1320,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "d2c1989b8d51e854",
        "type": "mqtt out",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "topic": "codigoIoT/mqtt/civ/pluma/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c0ed33ac6aef07c",
        "x": 690,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6653380df8b9d339",
        "type": "ui_template",
        "z": "d6c0238f4ecb9fcd",
        "group": "69140d0c740b78cf",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<iframe id=\"video\" title=\"Video\" width=\"300\" height=\"200\"\n    src=\"http://192.16.0.12:81/stream\">\n</iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 200,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "34685b6d8da5ab54",
        "type": "ui_button",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "group": "69140d0c740b78cf",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tomar foto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "19d9a2aebbf9ed41"
            ]
        ]
    },
    {
        "id": "19d9a2aebbf9ed41",
        "type": "http request",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.0.12/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 460,
        "wires": [
            [
                "334cb59a65ce43ee"
            ]
        ]
    },
    {
        "id": "334cb59a65ce43ee",
        "type": "file",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "filename": "/home/david/Documentos/github/license_plate_recognizer/imgs/img.jpg",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 770,
        "y": 460,
        "wires": [
            [
                "c9267f8fa6a4d039"
            ]
        ]
    },
    {
        "id": "c9267f8fa6a4d039",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Append",
        "func": "msg.payload = \" /home/david/Documentos/github/license_plate_recognizer/imgs/img.jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 460,
        "wires": [
            [
                "59c491279b478903"
            ]
        ]
    },
    {
        "id": "59c491279b478903",
        "type": "exec",
        "z": "d6c0238f4ecb9fcd",
        "command": "python3 /home/david/Documentos/github/license_plate_recognizer/get_placa.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 560,
        "wires": [
            [
                "56e237fae7b1299a"
            ],
            [
                "56e237fae7b1299a"
            ],
            [
                "56e237fae7b1299a"
            ]
        ]
    },
    {
        "id": "56e237fae7b1299a",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 520,
        "wires": []
    },
    {
        "id": "91d669fd3c678d68",
        "type": "mqtt in",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "topic": "codigoIoT/mqtt/civ/placas/",
        "qos": "2",
        "datatype": "utf8",
        "broker": "4276dcf0b5fb42df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 990,
        "y": 760,
        "wires": [
            [
                "35a394e6b27b3c1c",
                "fa1846f9c6d02de2",
                "8eccd1c41ab39e3b"
            ]
        ]
    },
    {
        "id": "35a394e6b27b3c1c",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 820,
        "wires": []
    },
    {
        "id": "c72f125be5249c18",
        "type": "mqtt out",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "topic": "codigoIoT/mqtt/civ/placas/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4276dcf0b5fb42df",
        "x": 650,
        "y": 760,
        "wires": []
    },
    {
        "id": "419f7070f8964b53",
        "type": "inject",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "PYP321C",
        "payloadType": "str",
        "x": 220,
        "y": 760,
        "wires": [
            [
                "c72f125be5249c18"
            ]
        ]
    },
    {
        "id": "ca7eadca26bfdfb6",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Envío de información",
        "info": "",
        "x": 240,
        "y": 660,
        "wires": []
    },
    {
        "id": "fa4c964cfcb4aea0",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Recepción de información",
        "info": "",
        "x": 910,
        "y": 660,
        "wires": []
    },
    {
        "id": "86ad7ad756cb9fb9",
        "type": "json",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 850,
        "y": 1280,
        "wires": [
            [
                "de1291fe7b352c49",
                "3579a48cb748b98a",
                "2301cddbb2223814",
                "43be59f2b5174cd3",
                "943ac33f6173cd4c"
            ]
        ]
    },
    {
        "id": "de1291fe7b352c49",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "ed2ebf013ca997cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre",
        "format": "{{msg.payload.NOMBRE}}",
        "layout": "row-spread",
        "className": "",
        "x": 1300,
        "y": 1200,
        "wires": []
    },
    {
        "id": "3579a48cb748b98a",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "ed2ebf013ca997cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vehiculo",
        "format": "{{msg.payload.VEHICULO}}",
        "layout": "row-spread",
        "className": "",
        "x": 1300,
        "y": 1240,
        "wires": []
    },
    {
        "id": "43be59f2b5174cd3",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "ed2ebf013ca997cc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Contacto",
        "format": "{{msg.payload.CORREO}}",
        "layout": "row-spread",
        "className": "",
        "x": 1300,
        "y": 1280,
        "wires": []
    },
    {
        "id": "2301cddbb2223814",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "ed2ebf013ca997cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Celular",
        "format": "{{msg.payload.TELEFONO}}",
        "layout": "row-spread",
        "className": "",
        "x": 1300,
        "y": 1320,
        "wires": []
    },
    {
        "id": "e615eb7c99cceb37",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Apertura de pluma",
        "info": "",
        "x": 230,
        "y": 980,
        "wires": []
    },
    {
        "id": "8e81dfa412488aef",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Información del propietario",
        "info": "",
        "x": 250,
        "y": 1300,
        "wires": []
    },
    {
        "id": "f0c248d42c2c512b",
        "type": "mqtt in",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "topic": "codigoIoT/mqtt/civ/pluma/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4276dcf0b5fb42df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1010,
        "y": 1020,
        "wires": [
            [
                "036d8d1d9741908b",
                "f18efe514f382e81"
            ]
        ]
    },
    {
        "id": "036d8d1d9741908b",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1020,
        "wires": []
    },
    {
        "id": "6911bec559458ff5",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "08ab3652c7d88e63",
        "name": "",
        "x": 640,
        "y": 160,
        "wires": [
            [
                "6e135f5de686e561"
            ]
        ]
    },
    {
        "id": "8d970423a5f55a5a",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT * FROM Personas;\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "6911bec559458ff5"
            ]
        ]
    },
    {
        "id": "124ef5ba3e344ecb",
        "type": "inject",
        "z": "d6c0238f4ecb9fcd",
        "name": "SELECT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "8d970423a5f55a5a"
            ]
        ]
    },
    {
        "id": "6e135f5de686e561",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "085f87e7b47a37dc",
        "type": "inject",
        "z": "d6c0238f4ecb9fcd",
        "name": "INSERT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "b16c1e5d35cbf77d"
            ]
        ]
    },
    {
        "id": "b16c1e5d35cbf77d",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "INSERT",
        "func": "//Asignar chatId en una variable\nvar chatId = msg.payload.chatId;\n\nmsg.topic = \"INSERT INTO Personas (NOMBRE, VEHICULO, PLACA, NUM_TRA, CHATID) VALUES ('Gustavo', 'Camaro', 'AA1-135', 10025070, '\"+chatId+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "6911bec559458ff5"
            ]
        ]
    },
    {
        "id": "d3faeb0fd829bbfb",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Prueba con MySQL",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "be3c88f26dc4cc27",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Registro por Bot",
        "info": "",
        "x": 200,
        "y": 1740,
        "wires": []
    },
    {
        "id": "9183d904f9e7a764",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Registro",
        "func": "//Asignar ChatId a un variable\nvar chatId = msg.payload.chatId;\n\nmsg.payload={\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Bienvenido al Registro de Usuarios!\\nPara darle de alta necesitaremos los siguientes datos: \\n \\n 1.- Nombre = /nombre y enseguida escribe tu nombre \\n2.-Tipo de Vehiculo = /carro y enseguida escribe el modelo \\n3.-Correo electronico = /correo y enseguida su email \\n4.-Numero Telefonico = /telefono y enseguida su numero de telefono \\n5.-Matricula vehicular= /placa y enseguida anotar su matricula \\n6.-Numero de control = /folio y enseguida escribir su numero de control\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1800,
        "wires": [
            [
                "f4d3a1230e74c428"
            ]
        ]
    },
    {
        "id": "31cd665f5827cea5",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Bienvenida",
        "func": "//Asignar ChatId a un variable\nvar chatId = msg.payload.chatId;\n\nmsg.payload={\n    \"type\": \"message\",\n    \"content\": \"¡Hola! Bienvenido al Control Interactivo Vehicular de la UAEM \\n \\nPara realizar algun proceso ejecute los siguientes comandos: \\n -Alta de usuario: /registro \\n -Levantar pluma: /abrir \\n-Consultar mi información: /consultar \\n-Buscar placa: /buscar\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1640,
        "wires": [
            [
                "03bdf508bfdd5f2d"
            ]
        ]
    },
    {
        "id": "5c588a36b1ac3e0b",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "SELECT",
        "func": "var consulta = msg.payload;\nvar message;\n\nfor(var i = 0; i < consulta.length; i++){\n    var row = consulta[i];\n    message += \"\\n\";\n    message = \"Nombre: \" + row.NOMBRE + \"\\n\";\n    message += \"Vehiculo: \" + row.VEHICULO + \"\\n\";\n    message += \"Correo: \" + row.CORREO + \"\\n\";\n    message += \"Telefono: \" + row.TELEFONO + \"\\n\";\n    message += \"Placa: \" + row.PLACA + \"\\n\";\n    message += \"Folio: \" + row.NUM_TRA + \"\\n\";\n    \n}\n\nvar chatId = global.get(\"chatId\");\nmsg.payload ={\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": message\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 2300,
        "wires": [
            [
                "e4b718eafb9f95cb"
            ]
        ]
    },
    {
        "id": "ef34a63adb0237cc",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "08ab3652c7d88e63",
        "name": "",
        "x": 860,
        "y": 2280,
        "wires": [
            [
                "5c588a36b1ac3e0b",
                "17018a667d23fc08"
            ]
        ]
    },
    {
        "id": "17018a667d23fc08",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 2220,
        "wires": []
    },
    {
        "id": "3a33086e9c4f666b",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 12",
        "func": "global.set(\"chatId\", msg.payload.chatId);\nvar chatId = global.get(\"chatId\");\nmsg.topic = \"SELECT * FROM Personas WHERE CHATID = '\" + chatId + \"';\";\nmsg.leer = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2280,
        "wires": [
            [
                "ef34a63adb0237cc"
            ]
        ]
    },
    {
        "id": "7d306f4ee7c34aa6",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Consultar mi Información",
        "info": "",
        "x": 210,
        "y": 2240,
        "wires": []
    },
    {
        "id": "a4d27313e092a42f",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Inicio del Bot",
        "info": "",
        "x": 190,
        "y": 1540,
        "wires": []
    },
    {
        "id": "8478b0f564709998",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Buscar persona por placa",
        "info": "",
        "x": 210,
        "y": 2380,
        "wires": []
    },
    {
        "id": "405d71116be8f8da",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "SELECT",
        "func": "var consulta = msg.payload;\nvar message;\n\nfor(var i = 0; i < consulta.length; i++){\n    var row = consulta[i];\n    message += \"\\n\";\n    message = \"Nombre: \" + row.NOMBRE + \"\\n\";\n    message += \"Vehiculo: \" + row.VEHICULO + \"\\n\";\n    message += \"Correo: \" + row.CORREO + \"\\n\";\n    message += \"Telefono: \" + row.TELEFONO + \"\\n\";\n    message += \"Placa: \" + row.PLACA + \"\\n\";\n    message += \"Folio: \" + row.NUM_TRA + \"\\n\";\n    \n}\n\nvar chatId = global.get(\"chatId\");\nmsg.payload ={\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": message\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 2540,
        "wires": [
            [
                "b9a5905ba9c4d5e9"
            ]
        ]
    },
    {
        "id": "a3c6a60f4d5a88d7",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "08ab3652c7d88e63",
        "name": "",
        "x": 980,
        "y": 2440,
        "wires": [
            [
                "405d71116be8f8da",
                "da1c25364b959b25"
            ]
        ]
    },
    {
        "id": "da1c25364b959b25",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 2380,
        "wires": []
    },
    {
        "id": "0edc4e2ca1df6498",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 13",
        "func": "var chatId = global.get(\"chatId\");\nglobal.set(\"buscar\",msg.payload);\nvar placa = global.get(\"buscar\");\nmsg.topic = \"SELECT * FROM Personas WHERE PLACA = '\" + placa + \"';\";\nmsg.leer = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 2440,
        "wires": [
            [
                "a3c6a60f4d5a88d7"
            ]
        ]
    },
    {
        "id": "8d97cf115b668775",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 19",
        "func": "var chatId = global.get(\"chatId\");\nglobal.set(\"nombre\", msg.payload);\nvar nombre1 = global.get(\"nombre\");\n\n\nmsg.payload={\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": nombre1\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1920,
        "wires": [
            [
                "78115b049d8051a6",
                "ce974989d3acffd4"
            ]
        ]
    },
    {
        "id": "a4342a93f61f93e5",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 20",
        "func": "global.set(\"chatId\", msg.payload.chatId);\nvar chatId = global.get(\"chatId\");\n\n\n/* Extraer los datos relevantes del mensaje de Telegram\nglobal.set(\"messageText\", msg.payload.content);\nvar messageText = global.get(\"messageText\");\nvar timestamp = msg.payload.date;\n\nvar jsonMessage = {\n    chatId: chatId,\n    messageText: messageText,\n    timestamp: timestamp\n};\n\n// Pasar el objeto JSON al siguiente nodo\nmsg.payload = jsonMessage;*/\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1920,
        "wires": [
            [
                "b45f5eb0a6168d37"
            ]
        ]
    },
    {
        "id": "b45f5eb0a6168d37",
        "type": "split",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "splt": "/nombre ",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 1920,
        "wires": [
            [
                "8d97cf115b668775"
            ]
        ]
    },
    {
        "id": "3a2fca7e48ba084e",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 21",
        "func": "var chatId = global.get(\"chatId\");\nglobal.set(\"carro\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1960,
        "wires": [
            [
                "78115b049d8051a6"
            ]
        ]
    },
    {
        "id": "64faaa11ded3923f",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 22",
        "func": "global.set(\"chatId\", msg.payload.chatId);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1960,
        "wires": [
            [
                "cc51014129687339"
            ]
        ]
    },
    {
        "id": "cc51014129687339",
        "type": "split",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "splt": "/carro  ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 1960,
        "wires": [
            [
                "3a2fca7e48ba084e"
            ]
        ]
    },
    {
        "id": "dd5e27cc24be96d9",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 23",
        "func": "var chatId = global.get(\"chatId\");\nglobal.set(\"correo\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 2000,
        "wires": [
            [
                "78115b049d8051a6"
            ]
        ]
    },
    {
        "id": "2d5f4ba8c87977f7",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 24",
        "func": "global.set(\"chatId\", msg.payload.chatId);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2000,
        "wires": [
            [
                "f545813c58973220"
            ]
        ]
    },
    {
        "id": "f545813c58973220",
        "type": "split",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "splt": "/correo ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2000,
        "wires": [
            [
                "dd5e27cc24be96d9"
            ]
        ]
    },
    {
        "id": "50ca8f92b1b39384",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 25",
        "func": "var chatId = global.get(\"chatId\");\nglobal.set(\"telefono\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 2040,
        "wires": [
            [
                "78115b049d8051a6"
            ]
        ]
    },
    {
        "id": "a1b0211640ae5a20",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 26",
        "func": "global.set(\"chatId\", msg.payload.chatId);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2040,
        "wires": [
            [
                "6c2cac913d5730a3"
            ]
        ]
    },
    {
        "id": "6c2cac913d5730a3",
        "type": "split",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "splt": "/telefono ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2040,
        "wires": [
            [
                "50ca8f92b1b39384"
            ]
        ]
    },
    {
        "id": "d3c21749ef61b6ff",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 27",
        "func": "var chatId = global.get(\"chatId\");\nglobal.set(\"placa\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 2080,
        "wires": [
            [
                "78115b049d8051a6"
            ]
        ]
    },
    {
        "id": "b89b501d404ea798",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 28",
        "func": "global.set(\"chatId\", msg.payload.chatId);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2080,
        "wires": [
            [
                "b74c8a394e1d5e83"
            ]
        ]
    },
    {
        "id": "b74c8a394e1d5e83",
        "type": "split",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "splt": "/placa ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2080,
        "wires": [
            [
                "d3c21749ef61b6ff"
            ]
        ]
    },
    {
        "id": "1bc1057ece4a4d50",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 29",
        "func": "var chatId = global.get(\"chatId\");\nglobal.set(\"folio\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 2120,
        "wires": [
            [
                "a7c75f7e24f1ad9b",
                "78115b049d8051a6"
            ]
        ]
    },
    {
        "id": "68c4f736973b9223",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 30",
        "func": "global.set(\"chatId\", msg.payload.chatId);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2120,
        "wires": [
            [
                "a1f9327118c80cf6"
            ]
        ]
    },
    {
        "id": "a1f9327118c80cf6",
        "type": "split",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "splt": "/folio ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 2120,
        "wires": [
            [
                "1bc1057ece4a4d50"
            ]
        ]
    },
    {
        "id": "a7c75f7e24f1ad9b",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 31",
        "func": "var chatId = global.get(\"chatId\");\nvar nombre = global.get(\"nombre\");\nvar carro = global.get(\"carro\");\nvar correo = global.get(\"correo\");\nvar telefono = global.get(\"telefono\");\nvar placa = global.get(\"placa\");\nvar folio = global.get(\"folio\");\n\nmsg.topic = \"INSERT INTO Personas (NOMBRE, VEHICULO, CORREO, TELEFONO, PLACA, NUM_TRA, CHATID) VALUES ('\"+nombre+\"', '\"+carro+\"', '\"+correo+\"', '\"+telefono+\"', '\"+placa+\"', '\"+folio+\"', '\" + chatId + \"')\";\n\nmsg.payload={\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Usuario registrado con exito!\"\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "78115b049d8051a6",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 2020,
        "wires": []
    },
    {
        "id": "b98ef62e775bb6a1",
        "type": "split",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "splt": "/buscar",
        "spltType": "str",
        "arraySplt": "5",
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 550,
        "y": 2440,
        "wires": [
            [
                "0edc4e2ca1df6498"
            ]
        ]
    },
    {
        "id": "8d5349d35aad09ba",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "ChatId",
        "func": "global.set(\"chatId\", msg.payload.chatId);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 2440,
        "wires": [
            [
                "b98ef62e775bb6a1"
            ]
        ]
    },
    {
        "id": "98afbb609f029d03",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/registró",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 180,
        "y": 1780,
        "wires": [
            [
                "9183d904f9e7a764"
            ],
            []
        ]
    },
    {
        "id": "e63eaaff42d9428f",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 1580,
        "wires": [
            [
                "31cd665f5827cea5"
            ],
            []
        ]
    },
    {
        "id": "41bf572edb68e8f8",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/registro",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 180,
        "y": 1820,
        "wires": [
            [
                "9183d904f9e7a764"
            ],
            []
        ]
    },
    {
        "id": "17e0770a8de09008",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/consultar",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 200,
        "y": 2280,
        "wires": [
            [
                "3a33086e9c4f666b"
            ]
        ]
    },
    {
        "id": "d2a6fc3106c1fa6f",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/Hola",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 1640,
        "wires": [
            [
                "31cd665f5827cea5"
            ],
            []
        ]
    },
    {
        "id": "35631f792035dada",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/buscar",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 190,
        "y": 2440,
        "wires": [
            [
                "8d5349d35aad09ba"
            ]
        ]
    },
    {
        "id": "6e879f072789ef8a",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/nombre",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 180,
        "y": 1880,
        "wires": [
            [
                "a4342a93f61f93e5",
                "712b78b30c8c7bc3"
            ]
        ]
    },
    {
        "id": "ecb6e64e92a6fd8b",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/carro",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 1940,
        "wires": [
            [
                "64faaa11ded3923f"
            ],
            []
        ]
    },
    {
        "id": "f874238e593da992",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/correo",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 2000,
        "wires": [
            [
                "2d5f4ba8c87977f7"
            ],
            []
        ]
    },
    {
        "id": "c3ddd698289e9e92",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/telefono",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 180,
        "y": 2060,
        "wires": [
            [
                "a1b0211640ae5a20"
            ],
            []
        ]
    },
    {
        "id": "a77fa78750ff99c4",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/placa",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 2120,
        "wires": [
            [
                "b89b501d404ea798"
            ],
            []
        ]
    },
    {
        "id": "2bbc5394623415e9",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/folio",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 170,
        "y": 2180,
        "wires": [
            [
                "68c4f736973b9223"
            ],
            []
        ]
    },
    {
        "id": "03bdf508bfdd5f2d",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 990,
        "y": 1600,
        "wires": [
            [
                "e0527c3fb1c511d5"
            ]
        ]
    },
    {
        "id": "e4b718eafb9f95cb",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1390,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "b9a5905ba9c4d5e9",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1410,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "f4d3a1230e74c428",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 750,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "ce974989d3acffd4",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1410,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "8eccd1c41ab39e3b",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "SELECT IDCHAT",
        "func": "msg.topic = \"SELECT * FROM Personas WHERE PLACA='\"+msg.payload+\"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 880,
        "wires": [
            [
                "05be4ba35184ff18"
            ]
        ]
    },
    {
        "id": "05be4ba35184ff18",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "08ab3652c7d88e63",
        "name": "",
        "x": 600,
        "y": 880,
        "wires": [
            [
                "7ed02b7449a736d0"
            ]
        ]
    },
    {
        "id": "bb6674dd909904bb",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 32",
        "func": "var consulta = msg.payload;\nvar message;\n\nfor (var i = 0; i < consulta.length; i++) {\n    var row = consulta[i];\n    message += \"\\n\";\n    message = \"Nombre: \" + row.NOMBRE + \"\\n\";\n    message += \"Vehiculo: \" + row.VEHICULO + \"\\n\";\n    message += \"Correo: \" + row.CORREO + \"\\n\";\n    message += \"Telefono: \" + row.TELEFONO + \"\\n\";\n    message += \"Placa: \" + row.PLACA + \"\\n\";\n    message += \"Folio: \" + row.NUM_TRA + \"\\n\";\n\n}\n\nvar chatId = global.get(\"chatId\");\nmsg.payload = {\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": message\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "de906c1b5fc2271f",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 33",
        "func": "msg.payload=msg.payload.NOMBRE;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 880,
        "wires": [
            [
                "35a394e6b27b3c1c"
            ]
        ]
    },
    {
        "id": "7ed02b7449a736d0",
        "type": "split",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 790,
        "y": 960,
        "wires": [
            [
                "de906c1b5fc2271f",
                "86ad7ad756cb9fb9"
            ]
        ]
    },
    {
        "id": "dad399abc861d9b8",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "Autorización",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 950,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "943ac33f6173cd4c",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Autoriza?",
        "func": "var chatId = msg.payload.CHATID\n\nmsg.payload = {\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Hola! Hola! autorizar salir o entrar al estacionamiento \\n \\nPara ejecutar uno de los comandos: \\n -Autorizar: /autorizar \\n -No autorizar: /noautorizar\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1380,
        "wires": [
            [
                "fcc4893feb7f0787",
                "dad399abc861d9b8"
            ]
        ]
    },
    {
        "id": "fcc4893feb7f0787",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1460,
        "wires": []
    },
    {
        "id": "d82f1a0644e36a0f",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "Apertura de pluma",
        "command": "/autorizar",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 230,
        "y": 1080,
        "wires": [
            [
                "a3cbbae407f6c9a3"
            ],
            []
        ]
    },
    {
        "id": "a3cbbae407f6c9a3",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Autorización",
        "func": "msg.payload = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1080,
        "wires": [
            [
                "d2c1989b8d51e854"
            ]
        ]
    },
    {
        "id": "7bdf242731d5dcb4",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "Cierre de pluma",
        "command": "/noautoriza",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 220,
        "y": 1160,
        "wires": [
            [
                "aba29065870fa6b0"
            ],
            [
                "5a85295deb1a356d"
            ]
        ]
    },
    {
        "id": "9f9a6a809bf58f11",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1180,
        "wires": []
    },
    {
        "id": "aba29065870fa6b0",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "EMERGENCIA",
        "func": "msg.payload=\"Hay una situación de emergencia\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1240,
        "wires": [
            [
                "9f9a6a809bf58f11"
            ]
        ]
    },
    {
        "id": "5a85295deb1a356d",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "No autorización",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1140,
        "wires": [
            [
                "d2c1989b8d51e854"
            ]
        ]
    },
    {
        "id": "3a6166750f1cb063",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1880,
        "wires": []
    },
    {
        "id": "712b78b30c8c7bc3",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 34",
        "func": "msg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1880,
        "wires": [
            [
                "3a6166750f1cb063"
            ]
        ]
    },
    {
        "id": "981a160d70109e39",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "Alta de usuario",
        "command": "/alta",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 200,
        "y": 1700,
        "wires": [
            [
                "545e4f4957dc8e5d"
            ],
            []
        ]
    },
    {
        "id": "545e4f4957dc8e5d",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Bienvenida",
        "func": "//Asignar ChatId a un variable\nvar chatId = msg.payload.chatId;\n\nmsg.payload={\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"para darte de alta en el Control Interactivo Vehicular de la FCAeI \\n necesitamos los siguientes datos:  \\n Nombre: \\n Modelo del vehículo: \\n Correo:\\n Celular:\\n Placa de vehículo: \\n Número de control o matrícula:\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1720,
        "wires": [
            [
                "e0527c3fb1c511d5",
                "56e3052bb34b085f"
            ]
        ]
    },
    {
        "id": "e0527c3fb1c511d5",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1780,
        "wires": []
    },
    {
        "id": "56e3052bb34b085f",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 770,
        "y": 1680,
        "wires": [
            [
                "c874b4660af8396d"
            ]
        ]
    },
    {
        "id": "c874b4660af8396d",
        "type": "telegram reply",
        "z": "d6c0238f4ecb9fcd",
        "name": "datos",
        "bot": "a6a8d326fb60d080",
        "x": 950,
        "y": 1680,
        "wires": [
            [
                "7afb3a70bd04d8cf"
            ]
        ]
    },
    {
        "id": "186e9e15887f7e15",
        "type": "split",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 1350,
        "y": 1680,
        "wires": [
            [
                "e0527c3fb1c511d5"
            ]
        ]
    },
    {
        "id": "7afb3a70bd04d8cf",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 35",
        "func": "msg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 1680,
        "wires": [
            [
                "186e9e15887f7e15",
                "e0527c3fb1c511d5"
            ]
        ]
    },
    {
        "id": "7db19ffd63de6a8a",
        "type": "ui_spacer",
        "z": "d6c0238f4ecb9fcd",
        "name": "spacer",
        "group": "69140d0c740b78cf",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "69140d0c740b78cf",
        "type": "ui_group",
        "name": "Reconocimiento facial",
        "tab": "f3c4a2974172cb0f",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9037ae08f379058f",
        "type": "ui_group",
        "name": "Apertura de pluma",
        "tab": "f3c4a2974172cb0f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c0ed33ac6aef07c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4276dcf0b5fb42df",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ed2ebf013ca997cc",
        "type": "ui_group",
        "name": "Datos",
        "tab": "f3c4a2974172cb0f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "08ab3652c7d88e63",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "ControlInteractivoVehicular",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "a6a8d326fb60d080",
        "type": "telegram bot",
        "botname": "IoTBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "f3c4a2974172cb0f",
        "type": "ui_tab",
        "name": "Control Interactivo Vehicular - FCAeI",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]