Flujo Node-Red/FlujoControlIVehicular.json
[
    {
        "id": "d6c0238f4ecb9fcd",
        "type": "tab",
        "label": "Control Interactivo Vehicular",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa1846f9c6d02de2",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "69140d0c740b78cf",
        "order": 4,
        "width": "10",
        "height": "2",
        "name": "",
        "label": "Respuesta completa",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1360,
        "y": 680,
        "wires": []
    },
    {
        "id": "d305db01ade4004e",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Interfaz",
        "info": "",
        "x": 170,
        "y": 300,
        "wires": []
    },
    {
        "id": "f18efe514f382e81",
        "type": "ui_switch",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "label": "Acceso",
        "tooltip": "",
        "group": "ed2ebf013ca997cc",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 480,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "6653380df8b9d339",
        "type": "ui_template",
        "z": "d6c0238f4ecb9fcd",
        "group": "69140d0c740b78cf",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<iframe id=\"video\" title=\"Video\" width=\"300\" height=\"200\"\n    src=\"http://192.16.0.12:81/stream\">\n</iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 400,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "34685b6d8da5ab54",
        "type": "ui_button",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "group": "69140d0c740b78cf",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tomar foto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "19d9a2aebbf9ed41"
            ]
        ]
    },
    {
        "id": "19d9a2aebbf9ed41",
        "type": "http request",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.0.12/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 380,
        "wires": [
            [
                "334cb59a65ce43ee"
            ]
        ]
    },
    {
        "id": "334cb59a65ce43ee",
        "type": "file",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "filename": "/home/david/Documentos/github/license_plate_recognizer/imgs/img.jpg",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 890,
        "y": 380,
        "wires": [
            [
                "c9267f8fa6a4d039"
            ]
        ]
    },
    {
        "id": "c9267f8fa6a4d039",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Append",
        "func": "msg.payload = \" /home/david/Documentos/github/license_plate_recognizer/imgs/img.jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 480,
        "wires": [
            [
                "59c491279b478903"
            ]
        ]
    },
    {
        "id": "59c491279b478903",
        "type": "exec",
        "z": "d6c0238f4ecb9fcd",
        "command": "python /home/david/Documentos/github/license_plate_recognizer/get_placa.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 900,
        "y": 480,
        "wires": [
            [
                "56e237fae7b1299a"
            ],
            [
                "56e237fae7b1299a"
            ],
            [
                "56e237fae7b1299a"
            ]
        ]
    },
    {
        "id": "56e237fae7b1299a",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 480,
        "wires": []
    },
    {
        "id": "91d669fd3c678d68",
        "type": "mqtt in",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "topic": "codigoIoT/mqtt/civ/placas/",
        "qos": "2",
        "datatype": "utf8",
        "broker": "4276dcf0b5fb42df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 970,
        "y": 680,
        "wires": [
            [
                "35a394e6b27b3c1c",
                "fa1846f9c6d02de2",
                "8eccd1c41ab39e3b"
            ]
        ]
    },
    {
        "id": "35a394e6b27b3c1c",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 780,
        "wires": []
    },
    {
        "id": "c72f125be5249c18",
        "type": "mqtt out",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "topic": "codigoIoT/mqtt/civ/placas/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4276dcf0b5fb42df",
        "x": 630,
        "y": 680,
        "wires": []
    },
    {
        "id": "419f7070f8964b53",
        "type": "inject",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "PYP321C",
        "payloadType": "str",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "c72f125be5249c18"
            ]
        ]
    },
    {
        "id": "ca7eadca26bfdfb6",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Envío de información",
        "info": "",
        "x": 220,
        "y": 580,
        "wires": []
    },
    {
        "id": "fa4c964cfcb4aea0",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Recepción de información",
        "info": "",
        "x": 890,
        "y": 580,
        "wires": []
    },
    {
        "id": "86ad7ad756cb9fb9",
        "type": "json",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 790,
        "y": 1020,
        "wires": [
            [
                "de1291fe7b352c49",
                "3579a48cb748b98a",
                "2301cddbb2223814",
                "43be59f2b5174cd3",
                "943ac33f6173cd4c"
            ]
        ]
    },
    {
        "id": "de1291fe7b352c49",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "ed2ebf013ca997cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre",
        "format": "{{msg.payload.NOMBRE}}",
        "layout": "row-spread",
        "className": "",
        "x": 1200,
        "y": 920,
        "wires": []
    },
    {
        "id": "3579a48cb748b98a",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "ed2ebf013ca997cc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vehiculo",
        "format": "{{msg.payload.VEHICULO}}",
        "layout": "row-spread",
        "className": "",
        "x": 1200,
        "y": 960,
        "wires": []
    },
    {
        "id": "43be59f2b5174cd3",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "ed2ebf013ca997cc",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Contacto",
        "format": "{{msg.payload.CORREO}}",
        "layout": "row-spread",
        "className": "",
        "x": 1200,
        "y": 1000,
        "wires": []
    },
    {
        "id": "2301cddbb2223814",
        "type": "ui_text",
        "z": "d6c0238f4ecb9fcd",
        "group": "ed2ebf013ca997cc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Celular",
        "format": "{{msg.payload.TELEFONO}}",
        "layout": "row-spread",
        "className": "",
        "x": 1200,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8e81dfa412488aef",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Estado de la pluma",
        "info": "",
        "x": 170,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f0c248d42c2c512b",
        "type": "mqtt in",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "topic": "codigoIoT/mqtt/civ/pluma/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4276dcf0b5fb42df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1120,
        "wires": [
            [
                "f18efe514f382e81",
                "036d8d1d9741908b"
            ]
        ]
    },
    {
        "id": "6911bec559458ff5",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "e392a1b5ede6d124",
        "name": "",
        "x": 570,
        "y": 80,
        "wires": [
            [
                "6e135f5de686e561",
                "d5c00eb1bf0e54e5"
            ]
        ]
    },
    {
        "id": "8d970423a5f55a5a",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "SELECT",
        "func": "//msg.topic = \"SELECT NOMBRE, VEHICULO, TELEFONO, PLACA FROM Personas;\"\nmsg.topic = \"SELECT * FROM Bitacoras where FECHA_S is NULL;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "6911bec559458ff5"
            ]
        ]
    },
    {
        "id": "124ef5ba3e344ecb",
        "type": "inject",
        "z": "d6c0238f4ecb9fcd",
        "name": "SELECT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "8d970423a5f55a5a",
                "40dc1f7f35698e14"
            ]
        ]
    },
    {
        "id": "6e135f5de686e561",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "d3faeb0fd829bbfb",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Mostrar datos de entrada de vehiculos",
        "info": "",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "8eccd1c41ab39e3b",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "SELECT IDCHAT",
        "func": "msg.topic = \"SELECT * FROM Personas WHERE PLACA='\"+msg.payload+\"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 840,
        "wires": [
            [
                "05be4ba35184ff18"
            ]
        ]
    },
    {
        "id": "05be4ba35184ff18",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "e392a1b5ede6d124",
        "name": "",
        "x": 530,
        "y": 840,
        "wires": [
            [
                "7ed02b7449a736d0"
            ]
        ]
    },
    {
        "id": "de906c1b5fc2271f",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 33",
        "func": "msg.payload=msg.payload.NOMBRE;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 840,
        "wires": [
            [
                "35a394e6b27b3c1c"
            ]
        ]
    },
    {
        "id": "7ed02b7449a736d0",
        "type": "split",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 790,
        "y": 860,
        "wires": [
            [
                "de906c1b5fc2271f",
                "86ad7ad756cb9fb9"
            ]
        ]
    },
    {
        "id": "dad399abc861d9b8",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "Autorización",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1190,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "943ac33f6173cd4c",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Mensaje para autorizar",
        "func": "var chatId = msg.payload.CHATID\n\nmsg.payload = {\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Hola! Hola! autorizar salir o entrar al estacionamiento \\n \\nPara ejecutar uno de los comandos: \\n -Autorizar: /autorizar \\n -No autorizar: /noautorizar\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1180,
        "wires": [
            [
                "fcc4893feb7f0787",
                "dad399abc861d9b8"
            ]
        ]
    },
    {
        "id": "fcc4893feb7f0787",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f387621e0920feae",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Registro por Bot",
        "info": "",
        "x": 160,
        "y": 1480,
        "wires": []
    },
    {
        "id": "459212cefbd97c32",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/registró",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 140,
        "y": 1540,
        "wires": [
            [
                "c959d0c0b0f3ac51"
            ],
            []
        ]
    },
    {
        "id": "c959d0c0b0f3ac51",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Registro",
        "func": "var chatId = msg.payload.chatId;\n\nmsg.payload = {\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Bienvenido al Registro de Usuarios!\\nPara darle de alta necesitaremos los siguientes datos: \\n\\n 1.- Nombre \\n2.-Tipo de Vehiculo \\n3.-Correo electronico \\n4.-Numero Telefonico \\n5.-Matricula vehicular \\n6.-Numero de control\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1560,
        "wires": [
            [
                "75429988771e9faf"
            ]
        ]
    },
    {
        "id": "39b2c69b8211b194",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "e4d4ae91e73d6fe9"
            ],
            []
        ]
    },
    {
        "id": "e4d4ae91e73d6fe9",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Bienvenida",
        "func": "//Asignar ChatId a un variable\nvar chatId = msg.payload.chatId;\n\nmsg.payload={\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Hola! Bienvenido al Control Interactivo Vehicular de la UAEM \\n \\nPara realizar algún proceso ejecute los siguientes comandos: \\n-Alta de usuario: /registro \\n-Consultar mi información: /consultar \\n-Buscar placa: /buscar\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1340,
        "wires": [
            [
                "44e06f7b73033dfb"
            ]
        ]
    },
    {
        "id": "44e06f7b73033dfb",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 570,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "7d0d751b92d0f3c8",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/registro",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 140,
        "y": 1600,
        "wires": [
            [
                "c959d0c0b0f3ac51"
            ],
            []
        ]
    },
    {
        "id": "73029a85b764a97f",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/consultar",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 140,
        "y": 1760,
        "wires": [
            [
                "21bfc8f9bd0f7807"
            ]
        ]
    },
    {
        "id": "b93d355daa6cba92",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "RESPUESTA",
        "func": "var consulta = msg.payload;\nvar message;\nvar chatId;\n\nfor(var i = 0; i < consulta.length; i++){\n    var row = consulta[i];\n    chatId = row.CHATID;\n    message = \"Datos del usuario: \\n\";\n    message += \"Nombre: \" + row.NOMBRE + \"\\n\";\n    message += \"Vehiculo: \" + row.VEHICULO + \"\\n\";\n    message += \"Correo: \" + row.CORREO + \"\\n\";\n    message += \"Telefono: \" + row.TELEFONO + \"\\n\";\n    message += \"Placa: \" + row.PLACA + \"\\n\";\n    message += \"Folio: \" + row.NUM_TRA + \"\\n\";\n    \n}\nmsg.payload ={\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": message\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1820,
        "wires": [
            [
                "a8fa99f2e540cd84"
            ]
        ]
    },
    {
        "id": "dbaa20ef5fe0989e",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "e392a1b5ede6d124",
        "name": "",
        "x": 590,
        "y": 1760,
        "wires": [
            [
                "b93d355daa6cba92",
                "a6424409b93420cc"
            ]
        ]
    },
    {
        "id": "33532fe14e32e473",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/Hola",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 150,
        "y": 1380,
        "wires": [
            [
                "e4d4ae91e73d6fe9"
            ],
            []
        ]
    },
    {
        "id": "a6424409b93420cc",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1720,
        "wires": []
    },
    {
        "id": "a8fa99f2e540cd84",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1150,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "21bfc8f9bd0f7807",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "SELECT PERSONA",
        "func": "var chatId = msg.payload.chatId;\nmsg.topic = \"SELECT * FROM Personas WHERE CHATID = '\" + chatId + \"';\";\nmsg.leer = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1760,
        "wires": [
            [
                "dbaa20ef5fe0989e"
            ]
        ]
    },
    {
        "id": "5433a32b77a513bd",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Consultar mi Información",
        "info": "",
        "x": 210,
        "y": 1700,
        "wires": []
    },
    {
        "id": "af150d5b33b08efd",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Inicio del Bot",
        "info": "",
        "x": 170,
        "y": 1280,
        "wires": []
    },
    {
        "id": "6521de00de4ca274",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Buscar persona por placa",
        "info": "",
        "x": 190,
        "y": 1900,
        "wires": []
    },
    {
        "id": "88076719c83c7a61",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/buscar",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 130,
        "y": 1960,
        "wires": [
            [
                "0f96276a4862322b"
            ]
        ]
    },
    {
        "id": "ae6366f90d918a93",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "RESPUESTA",
        "func": "var chatId=flow.get(\"chatId\");\nvar consulta = msg.payload;\nvar message=\"No se encuentró.\";\n\nfor(var i = 0; i < consulta.length; i++){\n    var row = consulta[i];\n    chatId = msg.chatid;\n    message += \"\\n\";\n    message = \"Nombre: \" + row.NOMBRE + \"\\n\";\n    message += \"Vehiculo: \" + row.VEHICULO + \"\\n\";\n    message += \"Correo: \" + row.CORREO + \"\\n\";\n    message += \"Telefono: \" + row.TELEFONO + \"\\n\";\n    message += \"Placa: \" + row.PLACA + \"\\n\";\n    message += \"Folio: \" + row.NUM_TRA + \"\\n\";\n    \n}\n\nmsg.payload ={\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": message\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1980,
        "wires": [
            [
                "d70dfd5bf6377c8c",
                "b927910bb4f8831a"
            ]
        ]
    },
    {
        "id": "b78cb333f47f1994",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "e392a1b5ede6d124",
        "name": "",
        "x": 610,
        "y": 1960,
        "wires": [
            [
                "ae6366f90d918a93"
            ]
        ]
    },
    {
        "id": "b927910bb4f8831a",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1900,
        "wires": []
    },
    {
        "id": "0f96276a4862322b",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "SELECT De Personas",
        "func": "var placa = msg.payload.content;\nvar mensaje = placa.split(\" \");\nmsg.topic = \"SELECT * FROM Personas WHERE PLACA = '\" + mensaje[1] + \"';\";\nmsg.leer = true;\nflow.set(\"chatId\", msg.payload.chatId)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1960,
        "wires": [
            [
                "b78cb333f47f1994"
            ]
        ]
    },
    {
        "id": "d70dfd5bf6377c8c",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1070,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "75429988771e9faf",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 550,
        "y": 1560,
        "wires": [
            [
                "a015bb27fd4f9165"
            ]
        ]
    },
    {
        "id": "a015bb27fd4f9165",
        "type": "telegram reply",
        "z": "d6c0238f4ecb9fcd",
        "name": "datos",
        "bot": "a6a8d326fb60d080",
        "x": 730,
        "y": 1560,
        "wires": [
            [
                "5f0ef8d13284c077",
                "699dd66ff6fea9c3"
            ]
        ]
    },
    {
        "id": "5f0ef8d13284c077",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "INSERT PERSONA",
        "func": "var chatId = msg.payload.chatId;\nvar mensaje = msg.payload.content;\nvar mensaje1 = mensaje.split(\"\\n\");\nvar nombre = mensaje1[0];\nvar vehiculo = mensaje1[1];\nvar correo = mensaje1[2];\nvar telefono = mensaje1[3];\nvar placa = mensaje1[4];\nvar folio = mensaje1[5];\n\nmsg.topic = \"INSERT INTO Personas (CHATID, NOMBRE, VEHICULO, CORREO, TELEFONO, PLACA, FOLIO) VALUES ('\" + chatId +\"','\" + nombre + \"','\" + vehiculo + \"','\" + correo + \"','\" + telefono + \"','\" + placa + \"','\" + folio + \"');\";\nmsg.leer = true;\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1560,
        "wires": [
            [
                "8c59a32b0a0e9965"
            ],
            []
        ]
    },
    {
        "id": "8c59a32b0a0e9965",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "e392a1b5ede6d124",
        "name": "",
        "x": 1110,
        "y": 1460,
        "wires": [
            [
                "e5aeaa1daf279ecd"
            ]
        ]
    },
    {
        "id": "699dd66ff6fea9c3",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "RESPUESTA",
        "func": "var chatId = msg.payload.chatId;\n\nmsg.payload = {\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Ejecuta el comando /consultar nuevamente para saber su estatus en otro caso /start o /Hola si desea realizar otra operación\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1620,
        "wires": [
            [
                "19459529aedbaf59"
            ]
        ]
    },
    {
        "id": "19459529aedbaf59",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1170,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "730396c2093641d8",
        "type": "mqtt out",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "topic": "codigoIoT/mqtt/civ/pluma/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5b7c4545661ec675",
        "x": 690,
        "y": 2200,
        "wires": []
    },
    {
        "id": "ca44c3bc3b723185",
        "type": "comment",
        "z": "d6c0238f4ecb9fcd",
        "name": "Apertura de pluma",
        "info": "",
        "x": 170,
        "y": 2060,
        "wires": []
    },
    {
        "id": "79e2c7a359f9f898",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "Autorización",
        "command": "/autorizar",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 150,
        "y": 2140,
        "wires": [
            [
                "6dd3f20cc601dc9d"
            ],
            []
        ]
    },
    {
        "id": "6dd3f20cc601dc9d",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Autorización",
        "func": "flow.set(\"chatId\", msg.payload.chatId);\nmsg.payload = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 2140,
        "wires": [
            [
                "730396c2093641d8",
                "ef1e188cdaf47ef6"
            ]
        ]
    },
    {
        "id": "61ac04b3223626d3",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "No autorización",
        "command": "/noautorizar",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 160,
        "y": 2220,
        "wires": [
            [
                "6e9bd1cd479a73ba",
                "dc474f9838b08e80",
                "2d3238a3e4ccf4bd"
            ],
            []
        ]
    },
    {
        "id": "8a2e5d58ab18fb20",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 2360,
        "wires": []
    },
    {
        "id": "dc474f9838b08e80",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "EMERGENCIA",
        "func": "msg.payload=\"Hay una situación de emergencia\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 2260,
        "wires": [
            [
                "8a2e5d58ab18fb20"
            ]
        ]
    },
    {
        "id": "6e9bd1cd479a73ba",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "No autorización",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 2200,
        "wires": [
            [
                "730396c2093641d8"
            ]
        ]
    },
    {
        "id": "ef1e188cdaf47ef6",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Insertar Entrada",
        "func": "var chatId = flow.get(\"chatId\");\nvar currentDate = new Date();\nvar hora = currentDate.getHours();\nvar minutos = currentDate.getMinutes();\nvar dia = currentDate.getDate();\nvar mes = currentDate.getMonth() + 1;\nvar anio = currentDate.getFullYear();\n\nif(hora < 10){\n    hora = '0' + hora;\n}\n\nif(minutos < 10){\n    minutos = '0' + minutos;\n}\nvar horaActual = hora + ':' + minutos;\n\nif(dia < 10){\n    dia = '0' + dia;\n}\n\nif(mes < 10){\n    mes = '0' + mes;\n}\n\nvar fecha = anio + '/' + mes + '/' + dia;\n\nmsg.topic = \"INSERT INTO Bitacoras (HORA_E, CHATID, FECHA_E) VALUES ('\" + horaActual + \"','\" + chatId + \"', '\" + fecha + \"');\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 2140,
        "wires": [
            [
                "f35ecad249daf94a"
            ]
        ]
    },
    {
        "id": "f35ecad249daf94a",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "e392a1b5ede6d124",
        "name": "",
        "x": 890,
        "y": 2140,
        "wires": [
            [
                "b58b06805f2848e0"
            ]
        ]
    },
    {
        "id": "b58b06805f2848e0",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 2140,
        "wires": []
    },
    {
        "id": "73c744b4688f31f2",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "Salir del estacionamiento",
        "command": "/salir",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 190,
        "y": 2420,
        "wires": [
            [
                "ef2897ae762b83f6"
            ],
            []
        ]
    },
    {
        "id": "16ea4c1bd960ec1a",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Insertar Salida",
        "func": "var chatId = flow.get(\"chatId\");\nvar currentDate = new Date();\nvar hora = currentDate.getHours();\nvar minutos = currentDate.getMinutes();\nvar dia = currentDate.getDate();\nvar mes = currentDate.getMonth() + 1;\nvar anio = currentDate.getFullYear();\n\nif(hora < 10){\n    hora = '0' + hora;\n}\n\nif(minutos < 10){\n    minutos = '0' + minutos;\n}\nvar horaActual = hora + ':' + minutos;\n\nif(dia < 10){\n    dia = '0' + dia;\n}\n\nif(mes < 10){\n    mes = '0' + mes;\n}\n\nvar fecha = anio + '/' + mes + '/' + dia;\n\nmsg.topic = \"UPDATE Bitacoras SET HORA_S='\" + horaActual + \"', FECHA_S ='\"+ fecha +\"' WHERE CHATID='\" + chatId + \"';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 2420,
        "wires": [
            [
                "d52f588774f21f87",
                "6c146df83222225f"
            ]
        ]
    },
    {
        "id": "d52f588774f21f87",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "e392a1b5ede6d124",
        "name": "",
        "x": 930,
        "y": 2420,
        "wires": [
            [
                "6c146df83222225f"
            ]
        ]
    },
    {
        "id": "6c146df83222225f",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 2420,
        "wires": []
    },
    {
        "id": "b8c1dacd539fee65",
        "type": "inject",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 920,
        "wires": [
            [
                "0676887f403a6627"
            ]
        ]
    },
    {
        "id": "0676887f403a6627",
        "type": "mqtt out",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "topic": "codigoIoT/mqtt/civ/pluma/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4276dcf0b5fb42df",
        "x": 410,
        "y": 940,
        "wires": []
    },
    {
        "id": "57d7870e294d3061",
        "type": "inject",
        "z": "d6c0238f4ecb9fcd",
        "name": "cerrar",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 980,
        "wires": [
            [
                "0676887f403a6627"
            ]
        ]
    },
    {
        "id": "e5aeaa1daf279ecd",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 1480,
        "wires": []
    },
    {
        "id": "d5c00eb1bf0e54e5",
        "type": "ui_table",
        "z": "d6c0238f4ecb9fcd",
        "group": "69140d0c740b78cf",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "ef2897ae762b83f6",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "Autorizar",
        "func": "msg.payload = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 2420,
        "wires": [
            [
                "730396c2093641d8",
                "16ea4c1bd960ec1a"
            ]
        ]
    },
    {
        "id": "18a603141b755934",
        "type": "ui_gauge",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "group": "ed2ebf013ca997cc",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vehiculos ",
        "label": "units",
        "format": "{{msg.payload.n}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 940,
        "y": 200,
        "wires": []
    },
    {
        "id": "40dc1f7f35698e14",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "SELECT",
        "func": "//msg.topic = \"SELECT NOMBRE, VEHICULO, TELEFONO, PLACA FROM Personas;\"\nmsg.topic = \"SELECT COUNT(CHATID) as n FROM Bitacoras where FECHA_S is NULL;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "27d0f68fc3c76280"
            ]
        ]
    },
    {
        "id": "27d0f68fc3c76280",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "e392a1b5ede6d124",
        "name": "",
        "x": 570,
        "y": 180,
        "wires": [
            [
                "6e135f5de686e561",
                "eb3f1dd660e41a04"
            ]
        ]
    },
    {
        "id": "60927a734c44d4b2",
        "type": "json",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 770,
        "y": 200,
        "wires": [
            [
                "18a603141b755934"
            ]
        ]
    },
    {
        "id": "eb3f1dd660e41a04",
        "type": "split",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 690,
        "y": 260,
        "wires": [
            [
                "60927a734c44d4b2"
            ]
        ]
    },
    {
        "id": "99ebf29930be1e7c",
        "type": "telegram command",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "command": "/disponibilidad",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a6a8d326fb60d080",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 150,
        "y": 2520,
        "wires": [
            [
                "6721da3a88a3a939"
            ],
            []
        ]
    },
    {
        "id": "6721da3a88a3a939",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "SELECT",
        "func": "//msg.topic = \"SELECT NOMBRE, VEHICULO, TELEFONO, PLACA FROM Personas;\"\nflow.set(\"chatId\",msg.payload.chatId);\nmsg.topic = \"SELECT COUNT(CHATID) as n FROM Bitacoras where FECHA_S is NULL;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 2520,
        "wires": [
            [
                "19b07f38e8c45b2e"
            ]
        ]
    },
    {
        "id": "19b07f38e8c45b2e",
        "type": "mysql",
        "z": "d6c0238f4ecb9fcd",
        "mydb": "e392a1b5ede6d124",
        "name": "",
        "x": 590,
        "y": 2520,
        "wires": [
            [
                "d086383013ed7df6"
            ]
        ]
    },
    {
        "id": "169b7381c4fb19ff",
        "type": "json",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 930,
        "y": 2520,
        "wires": [
            [
                "92a5719884828956"
            ]
        ]
    },
    {
        "id": "d086383013ed7df6",
        "type": "split",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 770,
        "y": 2520,
        "wires": [
            [
                "169b7381c4fb19ff"
            ]
        ]
    },
    {
        "id": "92a5719884828956",
        "type": "function",
        "z": "d6c0238f4ecb9fcd",
        "name": "function 34",
        "func": "var chatId = flow.get(\"chatId\");\nmsg.payload = {\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"Hay \" + (30 - msg.payload.n) + \" espacios disponibles\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 2520,
        "wires": [
            [
                "f1b0a792502bcf4a"
            ]
        ]
    },
    {
        "id": "f1b0a792502bcf4a",
        "type": "telegram sender",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "bot": "a6a8d326fb60d080",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1310,
        "y": 2520,
        "wires": [
            []
        ]
    },
    {
        "id": "c25c63cf1803d8e1",
        "type": "delay",
        "z": "d6c0238f4ecb9fcd",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 1200,
        "wires": [
            [
                "f18efe514f382e81"
            ]
        ]
    },
    {
        "id": "036d8d1d9741908b",
        "type": "debug",
        "z": "d6c0238f4ecb9fcd",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1120,
        "wires": []
    },
    {
        "id": "2d3238a3e4ccf4bd",
        "type": "ui_toast",
        "z": "d6c0238f4ecb9fcd",
        "position": "top left",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Problema de seguridad",
        "name": "ALERTA",
        "x": 420,
        "y": 2320,
        "wires": []
    },
    {
        "id": "7db19ffd63de6a8a",
        "type": "ui_spacer",
        "z": "d6c0238f4ecb9fcd",
        "name": "spacer",
        "group": "69140d0c740b78cf",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "69140d0c740b78cf",
        "type": "ui_group",
        "name": "Control Vehicular",
        "tab": "f3c4a2974172cb0f",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed2ebf013ca997cc",
        "type": "ui_group",
        "name": "Datos",
        "tab": "f3c4a2974172cb0f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4276dcf0b5fb42df",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e392a1b5ede6d124",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "CIV",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "a6a8d326fb60d080",
        "type": "telegram bot",
        "botname": "IoTBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "5b7c4545661ec675",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f3c4a2974172cb0f",
        "type": "ui_tab",
        "name": "Control Interactivo Vehicular - FCAeI",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]